/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .container-text{
      margin-top: 35%;
   }
   .content{
    display: flex;
    flex-direction:column ;
   }
   .parent{
    display: flex;
    flex-direction: column;
   }
   .text-center{
    display: flex;
    flex-direction: column;
   }
   .box{
    display: flex;
    flex-direction: column;
   }
   ul{
    display: none;
   }
   h1{
      font-size: 25px;
   }
   .card{
      width: 100%;
      margin-top: 5%;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
